.popup__button_close {
  display: none;
  width: 32px;
  height: 32px;
  padding: 0;
  position: fixed;
  top: 23%;
  left: 66%;
  background-color: transparent;
  border: 0;
  outline: 0;
  background: url(' file:///C:/Users/Андрей%20Мусинов/Desktop/Программирование/Яндекс/dev/mesto/images/close-button.svg');
}
.popup__button_close:hover {
  opacity: 0.6;
}
@media screen and (min-width: 1050px) and (max-width: 1250px) {
  .popup__button_close {
    top: 12%;
    left: 71%;
  }
}
@media screen and (max-width: 1024px) {
  .popup__button_close {
    top: 23%;
    left: 71%;
  }
}
@media screen and (max-width: 768px) {
  .popup__button_close {
    top: 22%;
    left: 78%;
  }
}
@media screen and (min-width: 451px) and (max-width: 600px) {
  .popup__button_close {
    top: 21%;
    left: 89%;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .popup__button_close {
    width: 20px;
    height: 20px;
    left: 78%;
    top: 23%;
    background-size: 20px 20px;
  }
}
